:root {
    --primary-color: #fff;
    --secondary-color: #717171;
    --tertiary-color: ;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h5 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
